.P {
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    background-color: #ef8a37;
    color:  white;
}

.A {
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    background-color: #ef8a37;
    color:  white;
}